<%= link_to image_tag("crm final.png", size: "2170*2170"), root_path %>
<%= link_to ('Home <span class="glyphicon glyphicon-home"> </span>').html_safe,   root_path %>
<%= link_to 'About_us',"#" %> 

<%#= link_to ('Contact <span class="glyphicon glyphicon-phone-alt"> </span>').html_safe, new_contact_path %>
 